<html>
<head>
<style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
section {
    width:350px;
    float:left;
    padding:10px;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style>
</head>
<body>

<header>
<h1>Cloud Computing</h1>
</header>

<nav>
Assignment 1
</nav>

<section>
<h1>Assignment 1</h1>
<p>This page is designed as a part of assignment 1 for the Cloud Computing course. The html layout was learned using W3schools.com</p>
<p>There has not been complicated stuff like links, images and background added to this page since the purpose is to show the deployment using Nitrous, GitHub and Heroku. However, they would not be too difficult to add</p>
</section>

<footer>
Mithilesh Galande - u1016772
</footer>

</body>
</html>